/*this sets the whole background this color*/
body {
	background-color: #FAEBD7;
}

/*this styles everything within the css-classes class*/
.css-classes {
	background-color: red;
}

/*this changes the color of all p tags*/
.css-classes p {
	font-size: 16px;
	color: green;
}

/*this changes the color of all the list items*/
.css-classes li {
	color: navy;
}