/*Change first-class font color*/
.first-class {
	color: green;
}

/*change second-class font*/
.second-class {
	font-size: 16px;
}

/*change number-one id font color*/
#number-one {
	color: red;
}

/*change number-two font size*/
#number-two {
	font-size: 24px;
}

